@import "library.less";
.input-group .form-control {
}

iframe.wysihtml5-sandbox {
  width: 350px!important;
}

form.main {
  padding: 20px;
  border: solid 1px @gray-dark;
  width: 400px!important;
}



