<template name="sprintPlanning">
  <div class="row" id="drag">
      <div class="col-md-6">
          <div class="panel panel-primary">
              <div class="panel-heading">
                  <h3 class="panel-title">Add story</h3>
              </div>
              <div class="panel-body">
                  <div class="input-group">
                      <span class="input-group-addon">Title</span>
                      <input type="text" name="new-story-title-input" class="form-control" placeholder="Name your story.">
                  </div>
                  <br />
                  <div class="input-group">
                      <span class="input-group-addon">Description</span>
                      <input type="text" name="new-story-description-input" class="form-control" placeholder="Describe the core elements in this user story.">
                  </div>
                  <br />
                  <button type="button" class="btn btn-success btn-block new-story-submit">Create story</button>
              </div>
          </div>
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">Product Backlog</h3>
              </div>
              <div class="panel-body">
                  <div>
                      <table>
                          <tr>
                              <td class="user-stories-sprint-planning">
                                {{#each userStories}}
                                  {{> userStory}}
                                {{/each}}
                                  <br />
                                  <br />
                              </td>
                          </tr>
                      </table>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-6">
          <div class="panel panel-info">
              <div class="panel-heading">Add sprint</div>
              <div class="panel-body">
                {{> sprintCreate}}
              </div>
          </div>
        {{#each sprints}}
            {{> sprint}}
        {{/each}}
      </div>
  </div>
</template>