<!-- stylesheet to be found in dashboard-content.less -->
<template name="dashboardContent" xmlns="http://www.w3.org/1999/html">

        <div id="first-wrapper">

            <div class="info-content effect">
                <div class="info-icon blue">
                    <span class="glyphicon glyphicon-stats"></span>
                </div>
            </div>
            <div class="info-content effect">
                <div class="info-icon green">
                    <span class="glyphicon glyphicon-user"></span>
                </div>
            </div>
            <div class="info-content effect">
                <div class="info-icon orange">
                    <span class="glyphicon glyphicon-fire"></span>
                </div>
            </div>
            <div class="info-content effect">
                <div class="info-icon red">
                    <span class="glyphicon glyphicon-folder-open"></span>
                </div>
            </div>
        </div>

        <div id="second-wrapper">
            <div id="statistics-wrapper">
                <div class="header"></div>
                <div class="statistics-content"></div>
                <div class="statistics-info"></div>
                <div class="statistics-info"></div>
                <div class="statistics-info"></div>
            </div>

            <div id="featured-wrapper" class="">
                <div class="header"></div>
                <div class="featured-content"></div>
                <div class="featured-info"></div>
                <div class="featured-info"></div>
            </div>
        </div>

        <div id="third-wrapper">
            <div id="project-wrapper">
                <div class="header"></div>
                <div class="project-content"></div>
                <div class="project-info"></div>
                <div class="project-info"></div>
            </div>

            <div id="details-wrapper">
                <div class="header"></div>
                <div class="details-content"></div>
                <div class="details-info"></div>
                <div class="details-info"></div>
            </div>

            <div id="testimonials-wrapper">
                <div class="header"></div>
                <div class="testimonials-content"></div>
                <div class="testimonials-info"></div>
                <div class="testimonials-info"></div>
            </div>
        </div>







</template>
