.blue {
  background-color: #5ccdde;
}
.green {
  background-color: #afde5c;
}
.orange {
  background-color: #deb25c;
}
.red {
  background-color: #de815c;
}
/** Shades of grey **/
/** Screen resolution **/
/** Font settings **/
